.product_form_title {
  padding-top: 30px;
  text-align: center;
}

.product-form-all {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.product-form {
  width: 90%;
}

.product-field{
  margin-bottom: 20px;
}

.product-btns {
  margin-Top:40px; 
  display: flex;
  justify-content: space-between; 
  width: 100%;
  margin-bottom: 50px;
}

.product-btns button{
  background-color: #59646f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.product-btns button:hover {
  background-color: #2f3133;
}

.product-submit-btn{
  width: 30%;
  word-wrap: break-word;
  margin-top: 10px;
}

.success-message {
  color: #28a745;
  margin-bottom: 15px;
  text-align: center;
}

.error-message {
  color: #dc3545;
  margin-bottom: 15px;
  text-align: center;
}

.image-previews {
  display: flex;
  gap: 50px;
}

.image-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 5px;
}
