.feedback_form_title {
    padding-top: 30px;
    text-align: center;
  }

.feedback-form-all {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }

  .feedback-form {
    width: 90%;
  }

  .feedback-form label {
    font-weight: 400;
    font-size: 1rem;
    color: #565e65;
  }

  .feedback-form h6 {
    margin-left: 20px;
  }
  
  .servicerate {
    margin-bottom: 1rem;
  }

  .FillStar,
  .OutlineStar {
    color: orange;
    cursor: pointer;
    margin-left: 10px;
  }

  .feedback-btns {
    margin-Top:40px; 
    display: flex;
    justify-content: space-between; 
    width: 100%; 
  }
  
  .feedback-btns button{
    background-color: #59646f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .feedback-btns button:hover {
    background-color: #2f3133;
  }
  
  .feedback-submit-btn{
    width: 30%;
    word-wrap: break-word;
    margin-top: 10px;
  }