.inventory-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 80px;
    margin-right: 80px;
    justify-content: center;
}

.loading-text {
    margin: 120px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 300;
    color: rgb(128, 128, 128);
}

/* Responsive Design */
@media (max-width: 1024px) {
    .inventory-grid {
        grid-template-columns: repeat(2, 1fr);
        margin: 30px auto;
        padding: 0 20px;
    }
}

@media (max-width: 600px) {
    .inventory-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}