.shop-ad-container-sells {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0.1, 0.3);
  border-radius: 20px;
  background-color: #F1E8E3;
  margin-top: 30px;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 60px;
  box-sizing: border-box;
}

.shop-ad-text {
  flex: 10;
  padding: 50px;
}

.shop-ad-text h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.shop-ad-text p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.shop-ad-button {
  padding: 10px 20px;
  background-color: #59646f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.shop-ad-button:hover {
  background-color: #2f3133;
}

.shop-main-btns{
  display: flex;
  gap: 40px;
}

.shop-ad-image {
  flex: 9;
  display: flex;
  justify-content: flex-end;
}

.shop-ad-image img {
  max-width: 100%;
  height: auto;
  border-radius: 0px 20px 20px 0px;
  display: block;
}

/* Responsive Design */
@media (max-width: 768px) {
  .shop-ad-container-sells {
    flex-direction: column;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .shop-ad-text {
    flex: 1;
    padding: 30px;
  }

  .shop-ad-image {
    flex: 1;
    width: 100%;
  }

  .shop-ad-image img {
    border-radius: 0 0 20px 20px;
  }

  .shop-ad-button {
    font-size: 0.9rem;
    padding: 8px 16px;
    width: auto;
    flex: 1;
    max-width: none;
  }

  .shop-main-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .shop-ad-container-sells {
    margin-left: 30px;
    margin-right: 30px;  
  }

  .shop-ad-text h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .shop-ad-text p {
    font-size: 0.9rem;
  }

  .shop-ad-image img {
    border-radius: 0 0 20px 20px;
  }

  .shop-ad-button {
    font-size: 0.8rem;
    padding: 6px 12px;
  }
}
