/* About Us Main Section */
.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0.1, 0.3);
  border-radius: 20px;
  background-color: #F1E8E3;
  margin: 30px 120px 10px 120px;
  box-sizing: border-box;
  padding: 20px;
}

.about-text {
  flex: 60%;
  padding: 20px;
}

.about-text h3 {
  font-size: 1.5rem;
  color: #4a4949;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 20px;
}

.about-image {
  flex: 40%;
  display: flex;
  justify-content: center;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Mission Section */
.mission-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0.1, 0.3);
  border-radius: 20px;
  background-color: #F1E8E3;
  margin: 30px 120px 0px 120px;
  margin-bottom: 80px;
  box-sizing: border-box;
  padding: 20px;
}

.mission-text {
  flex: 58%;
  padding: 20px;
}

.mission-text h3 {
  font-size: 1.5rem;
  color: #4a4949;
  margin-bottom: 10px;
}

.mission-text p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 20px;
}

.mission-text li strong{
  font-weight: 600;
  color: #4a4949;
}

.mission-image {
  flex: 42%;
  display: flex;
  justify-content: center;
}

.mission-image img {
  max-width: 100%;
  max-height: 450px;
  height: auto;
  border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-container, .mission-container {
    flex-direction: column;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
  }

  .mission-container {
    margin-bottom: 70px;
  }

  .about-text, .mission-text {
    padding: 10px;
  }

  .about-image, .mission-image {
    margin-top: 20px;
  }

  .about-text p {
    font-size: 0.85rem;
    margin-bottom: 10px;
  }

  .mission-text h3 {
    font-size: 1.2rem;
    color: #4a4949;
    margin-bottom: 10px;
  }

  .mission-text p {
    font-size: 0.85rem;
    color: #666;
    margin-bottom: 5px;
  }
}
