@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  
  font-family: "Poppins", sans-serif;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1000px;
}
.logging-card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 820px;
}
.form{
  margin: auto;
  padding: 15px;
  width: 500px;
}
.form-container {
  width: 1000px;
  background: white;
}
.title {
  text-align: center;
}
.btn.custom-btn {
  background-color: #ffffff;
  border: 1px solid #d7d7d7;
  color: #000;
  font-weight: 400;
}

.btn.custom-btn:hover {
  background-color: #e6e6e6;
  border-color: #bfbfbf;
  color: #000;
}

.btn.custom-btn:active,
.btn.custom-btn:focus {
  background-color: #d9d9d9;
  border-color: #bfbfbf;
  color: #000;
}

.btn.custom-btn.ant-btn-loading {
  background-color: #f0f0f0;
  border-color: #d9d9d9;
}

.auth-image {
  width: 100%;
  border-radius: 10px;
}
.alert {
  margin-bottom: 1.5rem;
}
.profile-card {
  width: 500px;
}
.avatar {
  margin-bottom: 1.5rem;
}
.username {
  text-transform: capitalize;
}
.profile-btn {
  margin-top: 1.3rem;
  width: 100%;
}
.flex-fields{
  display: flex;
  align-items: center;
  justify-content: space-between;
}