.membership-container {
  justify-content: space-between;
  gap: 20px;
  padding: 50px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 0 auto;
}

.membership-plans {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

.membership-button-logo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  margin: 0px 0px 0px 30px;
  flex: 4;
}

.plan-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F1E8E3;
}

.membership-info-content {
  display: flex;
  gap: 80px;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: flex-start;
  width: 100%;
}

/* Image styling */
.membership-info-image {
  max-height: 500px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.membership-info-image:hover {
  transform: scale(1.05);
}

/* Details section */
.membership-info-details {
  flex: 6;
  align-self: center;
}

.membership-info-details h2 {
  color: #333;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.membership-info-details ul,
.membership-info-details ol {
  padding-left: 20px;
}

.membership-info-details ul li,
.membership-info-details ol li {
  margin-bottom: 8px;
  color: #555;
  line-height: 1.6;
}

.plan-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.plan-title {
  color: #333;
}

.plan-description {
  color: #555;
  text-align: left;
  margin-top: 10px;
}

.plan-description li {
  margin-bottom: 5px;
}

.plan-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.plan-button:hover {
  background-color: #555;
}

/* Media Queries for Responsiveness */

/* For tablets */
@media (max-width: 768px) {
  .membership-info-content {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .membership-info-image {
    max-height: 300px;
  }

  .membership-info-details h2 {
    font-size: 1.2rem;
  }

  .membership-container {
    padding: 30px;
  }

  .membership-plans {
    margin-top: 30px;
  }

  .plan-button {
    width: 100%;
    padding: 10px;
  }
}

/* For mobile devices */
@media (max-width: 480px) {
  .membership-container {
    padding: 20px;
  }

  .membership-info-content {
    flex-direction: column;
    gap: 15px;
  }

  .membership-info-image {
    max-height: 200px;
    width: 100%;
  }

  .membership-info-details h2 {
    font-size: 1rem;
    text-align: center;
  }

  .plan-card {
    padding: 15px;
  }

  .plan-button {
    width: 100%;
    padding: 10px;
  }

  .plan-description {
    font-size: 0.9rem;
  }

  .membership-plans {
    gap: 15px;
  }
}
