.shop-ad-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0.1, 0.3);
    border-radius: 20px;
    background-color: #F1E8E3;
    margin: 50px 120px 10px 120px;
    box-sizing: border-box;
    padding: 20px;
  }
  
  .shop-ad-text {
    flex: 2;
    padding: 50px;
  }
  
  .shop-ad-text h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .shop-ad-text p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  .shop-ad-button {
    padding: 10px 20px;
    background-color: #59646f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .shop-ad-button:hover {
    background-color: #2f3133;
  }
  
  .shop-ad-image {
    display: flex;
    justify-content: flex-end;
  }
  
  .shop-ad-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .shop-ad-container {
      flex-direction: column;
      text-align: center;
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: 50px;
    }
  
    .shop-ad-text {
      flex: 1;
      padding: 50px;
    }
  
    .shop-ad-image {
      flex: 1;
      margin-top: 20px;
    }
  
    .shop-ad-button {
      font-size: 0.9rem;
      padding: 8px 16px;
    }
  }
  
  @media (max-width: 480px) {
    .shop-ad-container {
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: 50px;
    }
  
    .shop-ad-text h2 {
      font-size: 1.2rem;
    }
  
    .shop-ad-text p {
      font-size: 0.9rem;
    }
  
    .shop-ad-button {
      font-size: 0.8rem;
      padding: 6px 12px;
    }
  }
  