.feedback-container-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0.1, 0.3);
  border-radius: 20px;
  background-color: #F1E8E3;
  margin-top: 30px;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 60px;
  box-sizing: border-box;
}

.feedback-text {
  flex: 10;
  padding: 50px;
}

.feedback-text h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.feedback-text p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.feedback-button {
  padding: 10px 20px;
  background-color: #59646f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.feedback-button:hover {
  background-color: #2f3133;
}

.feedback-image {
  flex: 9;
  display: flex;
  justify-content: flex-end;
}

.feedback-image img {
  max-width: 100%;
  max-height: 400px;   /*height: auto;*/
  border-radius: 0px 20px 20px 0px;
  display: block;
}

/* Responsive Design */
@media (max-width: 768px) {
  .feedback-container-main {
    flex-direction: column;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;  
  }

  .feedback-text {
    flex: 1;
    padding: 50px;
  }

  .feedback-image {
    flex: 1;
    margin-top: 20px;
  }

  .feedback-image img {
    border-radius: 0px 0px 20px 20px;
  }

  .feedback-button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .feedback-container-main {
    margin-left: 30px;
    margin-right: 30px;  
  }

  .feedback-text h1 {
    font-size: 1.2rem;
  }

  .feedback-text p {
    font-size: 0.9rem;
  }

  .feedback-image img {
    border-radius: 0px 0px 20px 20px;
  }

  .feedback-button {
    font-size: 0.8rem;
    padding: 6px 12px;
  }
}
