.checkout-container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 15px;
}

.checkout-container h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 600;
  color: #333333;
}

.checkout-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.checkout-summary {
  background: #F1E8E3;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #e9ecef;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.checkout-summary h3{
  text-align: center;
}

.checkout-summary-price{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.summary-des {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #495057;
}

.checkout-summary ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.checkout-summary ul li {
  font-size: 16px;
  color: #495057;
  margin-bottom: 10px;
}

.checkout-summary ul li:last-child {
  margin-bottom: 0;
}

.checkout-allprice{
  flex: 1;
  padding: 50px;
}

.Checkout-form-all {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.Checkout-form {
  width: 90%;
}

.Checkout-field{
  margin-bottom: 20px;
}

.success-message {
  color: #28a745;
  margin-bottom: 15px;
  text-align: center;
}

.error-message {
  color: #dc3545;
  margin-bottom: 15px;
  text-align: center;
}

.checkout-form button {
  width: 100%;
  padding: 12px;
  background-color: #59646f;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.checkout-form button:hover {
  background-color: #2f3133;
  transform: translateY(-1px);
}

.checkout-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.checkout-message {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #28a745;
}

/* Responsive design */
@media (max-width: 768px) {
  .checkout-container {
    margin: 20px;
    padding: 20px;
  }

  .checkout-summary,
  .checkout-form {
    padding: 15px;
  }

  .checkout-summary h3,
  .checkout-form h3 {
    font-size: 18px;
  }

  .checkout-form button {
    font-size: 14px;
  }
}
