.feedback-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  max-width: 1480px;
  margin: 30px 120px;
  margin-bottom: 60px;
}

.feedback-item {
  background: #f1e8e3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 50px;
  flex: 1 1 calc(50% - 300px);
  margin: 10px;
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
}

.feedback-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.feedback-item h6 {
  font-size: 0.95rem;
  font-weight: 500;
  color: #525252;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedback-item p {
  font-size: 1.15rem;
  color: #555;
  line-height: 1.5;
  word-wrap: break-word;
  font-style: italic;
}

.FillStar {
  color: #ffcc00;
}

.OutlineStar {
  color: #ddd;
}

@media (max-width: 1024px) {
  .feedback-container {
    margin: 30px 60px;
  }

  .feedback-item {
    flex: 1 1 calc(50% - 100px);
    padding: 40px;
  }

  .feedback-item p {
    font-size: 1.1rem;
  }

  .feedback-item h6 {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .feedback-container {
    margin: 30px 30px;
  }

  .feedback-item {
    flex: 1 1 100%;
    padding: 35px;
  }

  .feedback-item p {
    font-size: 1rem;
  }

  .feedback-item h6 {
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
  .feedback-container {
    margin: 20px;
  }

  .feedback-item {
    padding: 30px;
  }

  .feedback-item p {
    font-size: 0.95rem;
  }

  .feedback-item h6 {
    font-size: 0.8rem;
  }
}
