.feedback-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 120px;
}

.feedback-title p {
  font-size: 1.3rem;
  color: #666;
}

.feedback-title button {
  background-color: #59646f;
  color: white;
  padding: 8px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

@media (max-width: 1024px) {
  .feedback-title {
    margin: 10px 60px;
  }

  .feedback-title p {
    font-size: 1.2rem;
  }

  .feedback-title button {
    padding: 8px 25px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .feedback-title {
    text-align: start;
    margin: 20px 30px;
  }

  .feedback-title p {
    font-size: 1.1rem;
    margin-bottom: 15px;
  }

  .feedback-title button {
    width: 80px;
    font-size: 0.9rem;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .feedback-title {
    margin: 15px 30px;
  }

  .feedback-title p {
    font-size: 1rem;
  }

  .feedback-title button {
    font-size: 0.8rem;
    padding: 6px 16px;
  }
}
